export PATH="$HOME/.local/bin:$PATH"

# No arguments: `git status`
# With arguments: acts like `git`
g() {
  if [[ $# -gt 0 ]]; then
    git "$@"
  else
    git status
  fi
}

alias gaa='git add --all'
alias gane='git commit --amend --no-edit'
alias gd='git diff'
alias gl="git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"

# git commit with message argument
gc() {
    if [[ $# != 1 ]]; then
    echo "Usage: gc <MESSAGE>" >&2
    return $?
  fi

  git commit -m $1
}

# git branch (interactive)
gb() {
  if [[ "$#" -gt 0 ]]; then
    git branch "$@"
    return $?
  fi

  local branches selection branch
  branches=$(git branch --sort=-committerdate -vv) &&
    selection=$(echo "$branches" | fzf --height=20% +m) &&
    branch=$(echo "$selection" | awk '{print $1}' | sed "s/.* //") &&
    if [[ -t 1 ]]; then git checkout "$branch"; else echo $branch; fi
}

# start a new branch
gs() {
  if [[ $# != 1 ]]; then
    echo "Usage: gs <NAME>" >&2
    return $?
  fi

  defaultBranchName=$(git branch -l main master | sed 's/[\* ]*//' | head -n 1)

  git fetch origin
  git switch -c "jfuchs/$1" "origin/$defaultBranchName"
  git push -u origin "jfuchs/$1"
}

# Execute the passed command and make a commit with its changes
ge() {

  # fail if no command is passed:
  if [[ $# -eq 0 ]]; then
    echo "Usage: ge <COMMAND>" >&2
    return 1
  fi

  # fail if no clean status:
  if [[ $(git status --porcelain) ]]; then
    echo "Working directory is not clean. Please commit or stash your changes before running this command." >&2
    return 1
  fi

  # execute (and fail if the command fails):
  if ! "$@"; then
    echo "Command failed. Please fix the issue before running this command." >&2
    return 1
  fi

  # fail if no changes:
  if [[ -z $(git status --porcelain) ]]; then
      echo "No changes to commit." >&2
      return 1
  fi

  # commit the changes:
  git add --all
  git commit -m "Executed command: $*"

  return $?
}

export NVM_DIR="$HOME/.nvm"
[ -s "/usr/local/opt/nvm/nvm.sh" ] && \. "/usr/local/opt/nvm/nvm.sh"
[ -s "/usr/local/opt/nvm/etc/bash_completion.d/nvm" ] && \. "/usr/local/opt/nvm/etc/bash_completion.d/nvm"

# Plugins
{{ if (eq .chezmoi.os "darwin") -}}
source {{ output "brew" "--prefix" | trim }}/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source {{ output "brew" "--prefix" | trim }}/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{ else -}}
source /usr/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh
{{ end -}}

# Source machine-specific configuration if it exists
[[ -f ~/.zshrc.local ]] && source ~/.zshrc.local

eval "$(starship init zsh)"
