#!/usr/bin/env -S bash -x

{{ if (eq .chezmoi.os "darwin") }}

if test ! $(which brew); then
  printf '\e[33mHomebrew not found. \e[0mInstalling Homebrew...\n'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
else
  printf 'Homebrew found. Continuing...\n'
fi
printf 'Installing Homebrew packages...\n'
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "fd"
brew "fzf"
brew "gh"
brew "jq"
brew "trash"
brew "wget"
brew "git"
EOF

{{ else if (eq .chezmoi.os "linux") }}

printf 'Installing apt-get packages...\n'
sudo apt-get install -y \
  fd-find \
  fzf \
  gh \
  jq \
  wget \
  git

{{ end -}}


if [[ -z "${CODESPACE_VSCODE_FOLDER}" ]]; then
  printf "Setting up commit-graph in ${CODESPACE_VSCODE_FOLDER}"
  (cd $CODESPACE_VSCODE_FOLDER; git commit-graph write --reachable --changed-paths)
fi

# Set zsh as my default shell:
{{ if (eq .chezmoi.os "linux") }}
printf 'Setting zsh as shell'
if [[ -n "$(grep $(whoami) /etc/passwd)" ]] && ! grep -q "$(whoami).*/bin/zsh" /etc/passwd; then
  sudo chsh -s /bin/zsh $(whoami)
fi
{{ end -}}