#!/usr/bin/env -S bash -x

{{ if (eq .chezmoi.os "darwin") }}

if test ! $(which brew); then
  printf '\e[33mHomebrew not found. \e[0mInstalling Homebrew...\n'
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
  eval "$(/opt/homebrew/bin/brew shellenv)"
else
  printf 'Homebrew found. Continuing...\n'
fi
printf 'Installing Homebrew packages...\n'
brew bundle --no-lock --file=/dev/stdin <<EOF
brew "fd"
brew "fzf"
brew "gh"
brew "jq"
brew "trash"
brew "wget"
brew "git"
EOF

{{ else if (eq .chezmoi.os "linux") }}

printf 'Installing apt-get packages...\n'
sudo apt-get install -y \
  fd-find \
  fzf \
  gh \
  jq \
  wget \
  git

{{ end -}}

# Figure out how to do this in the repo:
# printf 'Setting up commit-graph'
# git commit-graph write --reachable --changed-paths
