[user]
	name = {{ .name }}
	email = {{ .email }}
[github]
	user = jfuchs
[credential]
{{ if (eq .chezmoi.os "darwin") }}
	helper = osxkeychain
{{ else if (eq .chezmoi.os "linux") }}
  helper = cache
{{ end }}
[init]
	defaultBranch = main
[pull]
  ff = only
[core]
  commitGraph = true
[gc]
	writeCommitGraph = true